.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
webview-ui/node_modules/**
webview-ui/src/**
webview-ui/public/**
webview-ui/*.ts
webview-ui/*.json
webview-ui/*.html
webview-ui/README.md
**/.gitignore
**/tsconfig.json
esbuild.js
.eslintrc*
**/*.map
**/*.ts
!webview-ui/dist/**
